# Este arquivo de configuração (my.cnf) define algumas 
# opções importantes para o MariaDB (mysqld). Ele garante 
# que o MariaDB aceite conexões de rede (skip-networking = 0) 
# e não vincule explicitamente a um endereço IP específico (skip-bind-address).

[mysqld]
skip-networking = 0
skip-bind-address
